<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style_postimage.css">
    <title>postimage</title>
</head>
<body>
    <header>
        <h1>Post Image</h1>
    </header>
    <form>
        <div id = "container">
            <div>Post Title</div>
            <div><input type="text" id="posttitle" required></div>

            <div>Post Description</div>
            <div><input type="text" id="postdescription" required></div>

            <div>Post Image</div>
            <div><input type="file" id="file" required></div>

            <div id = "TOS">
                <div>
                    <input type="checkbox" class="checkbox" required>
                    <label> I agree TOS and Privacy rules <a href="https://tos_pr.com">details</a> </label>
                </div>
            </div>
    
            <div id = "button">
                <button type="submit" required>submit</button>
            </div>
        </div>
    </form>
</body>
</html>