<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style_viewpost.css">
    <title>viewpost</title>
</head>
<body>
    <div id="imgContainer">
        <div class="menu">Post Title</div>
        <div class="variable">Post Title</div>
        <div class="menu">Post Author</div>
        <div class="variable">Post Title</div>
        <div class="menu">Post Creation Time</div>
        <div class="variable">Post Title</div>

        <div class="menu">Post Image</div>
        <div class="variable" id="img"><img src="https://fakeimg.pl/300/"></div>

        <div class="menu">Post Description</div>
        <div class="variable" id="des"></div>
    </div>
</body>
</html>